/* Class yang banyak digunakan */
.background-umum {
	background-color: #333333;
}

.border-umum {
	border: solid 5px #808080;
	border-radius: 20px;
}

.font-family-dekorasi {
	font-family: Comic Sans MS;
}

.font-family-teks {
	font-family: Tahoma;
}

.font-putih {
	color: white;
}


/* Class yang lebih spesifik */
.header {
	display: flex;
	margin-bottom: 5px;

	color: #ffffff;
	font-size: 16pt;
}

.ikon-header {
	margin-left: auto;
	margin-right: auto;
	height: 115px;
	width: 115px;
}

.navigasi { 
	overflow: hidden;
	margin-bottom: 5px;

	/* Membuat sticky navbar */
	position: sticky;
	top: 0;
}

.navigasi-ikon-gitar {
	float: left;
	margin-top: 5px;
	margin-left: 10px;
}

.daftar-navigasi {
	list-style-type: none;

	margin: 0;
	padding: 0;
}

.list-navigasi {
	float: left;

	height: 100%;
	margin-left: 10px;
	margin-right: 10px;
}

.link-navigasi {
	display: block;
	height: 100%;
	padding: 6px;

	font-size: 20pt;
	text-decoration: none;
}

.link-navigasi:hover:not(.active) {
	background-color: #808080;
	border-top: solid 5px #B5651D;
}

.form-cari {
	float: right;

	margin-left: auto;
}

.kolom-cari {
	height: 30px;
}

.tombol-cari {
	height: 30px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 5px;

	font-weight: bold;
	color: #333333;
}

.tombol-cari:hover {
	cursor: pointer;
	background-color: #A9A9A9;
}

.ikon-umum {
	width: 45px;
	height: 45px;
}

.active {
	background-color: #B5651D;
	border-bottom: 5px solid #B5651D;
}

.konten {
	margin-bottom: 5px;
	padding: 25px;
}

.penampung-konten {
	overflow: auto;
	margin-bottom: 50px;
}

.judul-konten {
	clear: left;
	background-color: #808080;
	text-align: center;
}

.isi-konten {
	float: left;

	margin-right: 10px;
	margin-left: 10px;
	border: 5px solid #808080;

	text-align: center;
}

.gambar-konten {
	width: 230px;
	height: 230px;
}

.teks-konten {
	width: 210px;

	padding-right: 10px;
	padding-left: 10px;

	font-size: 14pt;
	text-align: center;
}

.footer {
	text-align: center;
}

.ikon-footer {
	margin-top: 10px;
	margin-right: 30px;
	margin-left: 30px;
}